/*
 * SPDX-FileCopyrightText: 2016 Nextcloud GmbH and Nextcloud contributors
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

.twofactor-email-form {
	margin: 16px auto 1px !important;
}

.twofactor-email-form > input {
	padding: 10px;
	margin: 0 0 5px 0;
}

.twofactor-email-form > input[type='tel'] {
	margin: 0 0 5px 0;
}

.two-factor-email-icon {
	filter: var(--background-invert-if-bright);
}
