<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="../../tests/bootstrap.php"
		 verbose="true"
		 failOnRisky="true"
		 failOnWarning="true"
		 timeoutForSmallTests="900"
		 timeoutForMediumTests="900"
		 timeoutForLargeTests="900">
  <testsuites>
    <testsuite name='unit'>
      <directory suffix='Test.php'>./tests/unit</directory>
    </testsuite>
  </testsuites>
  <coverage>
    <include>
	  <directory suffix=".php">.</directory>
    </include>
    <exclude>
	  <directory suffix=".php">./l10n</directory>
	  <directory suffix=".php">./tests</directory>
    </exclude>
    <report>
      <clover outputFile="./tests/output/clover.xml"/>
    </report>
  </coverage>
</phpunit>
