/*
 * SPDX-FileCopyrightText: 2025 Olav and Niklas Seyfarth, Contributors <https://github.com/datenschutz-individuell/twofactor_email/blob/main/CONTRIBUTORS.md>
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

.twofactor_email-challenge-form {
	margin: 16px auto 1px !important;
}

.twofactor_email-challenge-form > input {
	padding: 10px;
	margin: 0 0 5px 0;
}

.twofactor_email-challenge-icon {
	filter: var(--background-invert-if-bright);
}
