# SPDX-FileCopyrightText: 2025 Nextcloud GmbH and Nextcloud contributors
# SPDX-License-Identifier: MIT

name: Playwright E2E Tests

on: pull_request

permissions:
  contents: read

env:
  CI: true

jobs:
  node-version:
    runs-on: ubuntu-latest-low
    outputs:
      node-version: ${{ steps.versions.outputs.nodeVersion }}
      npm-version: ${{ steps.versions.outputs.npmVersion }}
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4
      - name: Read package.json node and npm engines version
        uses: skjnldsv/read-package-engines-version-actions@8205673bab74a63eb9b8093402fd9e0e018663a1 # v2.2
        id: versions
        with:
          fallbackNode: '^22.0.0'
          fallbackNpm: '^10.5.0'

  matrix:
    runs-on: ubuntu-latest-low
    outputs:
      php-min: ${{ steps.versions.outputs.php-min }}
      branches-min: ${{ steps.versions.outputs.branches-min }}
    steps:
      - name: Checkout app
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Get version matrix
        id: versions
        uses: icewind1991/nextcloud-version-matrix@58becf3b4bb6dc6cef677b15e2fd8e7d48c0908f # v1.3.1

  test:
    runs-on: ubuntu-latest
    name: Playwright E2E tests
    needs:
      - node-version
      - matrix
    steps:
      - name: Set up Nextcloud env
        uses: ChristophWurst/setup-nextcloud@fc0790385c175d97e88a7cb0933490de6e990374 # v0.3.2
        with:
          nextcloud-version: ${{ needs.matrix.outputs.branches-min }}
          php-version: ${{ needs.matrix.outputs.php-min }}
          install: true
      - name: Configure Nextcloud for testing
        run: |
          php -f nextcloud/occ config:system:set debug --type=bool --value=true
          php -f nextcloud/occ config:system:set overwriteprotocol --value=https
          php -f nextcloud/occ config:system:set overwritehost --value=localhost
          php -f nextcloud/occ config:system:set overwrite.cli.url --value=https://localhost
      - name: Check out the app
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          path: nextcloud/apps/twofactor_totp
      - name: Read package.json node and npm engines version
        uses: skjnldsv/read-package-engines-version-actions@06d6baf7d8f41934ab630e97d9e6c0bc9c9ac5e4 # v3
        id: package-engines-versions
        with:
          fallbackNode: '^24'
          fallbackNpm: '^11'
          path: nextcloud/apps/twofactor_totp
      - name: Set up node ${{ steps.package-engines-versions.outputs.nodeVersion }}
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version: ${{ steps.package-engines-versions.outputs.nodeVersion }}
      - name: Set up npm ${{ steps.package-engines-versions.outputs.npmVersion }}
        run: npm i -g 'npm@${{ steps.package-engines-versions.outputs.npmVersion }}'
      - name: Install php dependencies
        working-directory: nextcloud/apps/twofactor_totp
        run: composer install
      - name: Install the app
        run: php -f nextcloud/occ app:enable twofactor_totp
      - name: Install npm dependencies
        working-directory: nextcloud/apps/twofactor_totp
        run: npm ci
      - name: Build frontend
        working-directory: nextcloud/apps/twofactor_totp
        run: npm run build
      - name: Install stunnel (tiny https proxy)
        run: sudo apt-get update && sudo apt-get install -y stunnel
      - name: Start php server and https proxy
        working-directory: nextcloud
        run: |
          openssl req -new -x509 -days 365 -nodes -subj "/C=US/ST=Denial/L=Springfield/O=Dis/CN=localhost" -out stunnel.pem -keyout stunnel.pem
          php -S 127.0.0.1:8080 &
          sudo stunnel3 -p stunnel.pem -d 443 -r 8080
      - name: Test https access
        run: curl --insecure -Li https://localhost
      - name: Install Playwright browsers
        working-directory: nextcloud/apps/twofactor_totp
        run: npx playwright install --with-deps chromium
      - name: Run Playwright tests
        working-directory: nextcloud/apps/twofactor_totp
        run: DEBUG=pw:api npx playwright test
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        if: always()
        with:
          name: playwright-report-${{ github.event.number }}-nc${{ needs.matrix.outputs.branches-min }}-php${{ needs.matrix.outputs.php-min }}-node${{ steps.package-engines-versions.outputs.nodeVersion }}
          path: nextcloud/apps/twofactor_totp/playwright-report/
          retention-days: 14
      - name: Print server logs
        if: always()
        run: cat nextcloud/data/nextcloud.log*
